@import "./_variables";

@mixin flexSpaceBetween($flex-direction){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: $flex-direction;
};

@mixin flexScrollX{
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none
    }

    @include mobile(){
        gap: .6rem
    }
};

@mixin flexGap2{
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @include mobile(){
        gap: .6rem;
    }
}

@mixin nextImageContainer{
    position: relative;
    overflow: hidden;
}

@mixin tablet{
    @media screen and (max-width: 1000px) {
        @content
    }
};

@mixin mobile{
    @media screen and (max-width: 500px) {
        @content
    }
}