@import "./_variables";

@mixin flexSpaceBetween($flex-direction){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: $flex-direction;
};
@mixin flexAlign($flex-direction: row, $js: flex-start, $a-items: flex-start){
    display: flex;
    justify-content: $js;
    align-items: $a-items;
    flex-direction: $flex-direction;
};

@mixin flexScrollX{
    display: flex;
    gap: 33px;
};

@mixin tablet{
    @media screen and (max-width: 800px) {
        @content
    }
};

@mixin mobile{
    @media screen and (max-width: 450px) {
        @content
    }
}
