$pryClr: #305C45;
$secClr: #E6A960;
$mami-black: #313638;
$mami-hover-bold: #1D3729;
$mami-background: #F4FAF7;
$secondary-background: #F1F1F1;
$text-black: #000000;
$white: #ffffff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-sizes: (
  "12": 0.75rem,  // 9, 10
  "14": 0.875rem,
  "16": 1rem,
  "18": 1.125rem,
  "24": 1.5rem,
  "28": 1.75rem,
);
$spacings: (
  "8": 0.5rem,
  "16": 1rem,
  "20": 1.25rem, // 4 gutters
  "24": 1.5rem,
  "26": 1.625rem,
  "28": 1.75rem,
  "32": 2rem,
  "38": 2.375rem,

  "110": 6.875rem, // 4 margin
);
$displays: (
  "inline": inline,
  "inline-block": inline-block,
  "block": block,
  "flex": flex,
  "inline-flex": inline-flex,
  "grid": grid,
  "hidden": hidden
);
$radius: (
  "2": 2px,
  "8": 8px,
);


:export {
    // Export variables for JS
    pryClr: $pryClr;
    secClr: $secClr;
    mamiBlack: $mami-black;
}
