$pryClr: #305C45;
$secClr: #E6A960;
$mami-black: #313638;
$mami-hover-bold: #1D3729;
$mami-background: #F4FAF7;
$secondary-background: #F1F1F1;
$text-black: #000000;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

:export {
    // Export variables for JS
    pryClr: $pryClr;
    secClr: $secClr;
    mamiBlack: $mami-black;
}