@import "./partials/reset";
@import "./partials/variables";
@import "./partials/utilities";

@import "./partials/functions";
@import "./partials/mixins";


body{
    background: $mami-background;
}

// Generic ClassNames


.responsiveSection-m{
    margin: 26px 110px;
    @include tablet {
        margin: 28px;
    }
}

