@import "./partials/reset";
@import "./partials/variables";
@import "./partials/utilities";

@import "./partials/functions";
@import "./partials/mixins";


body{
    background: $mami-background;

    @include mobile{
        background: $white;
    }
}

// Generic ClassNames


.responsiveSection-m{
    margin: 26px 110px;
    @include tablet {
        margin: 28px;
    }

    @include mobile{
        margin: .8rem;
    }
}

