@import "./partials/reset";
@import "./partials/variables";
@import "./partials/utilities";

@import "./partials/functions";
@import "./partials/mixins";


body{
    background: $mami-background;

    @include mobile{
        background: $white;
    }
}

.rounded-8 {
    border-radius: 8px;
}

.w-100{
    width: 100%;
}

// dev-classes
.border-it{
    border: 2px solid red
}
.border-itt{
    border: 4px solid green
}
.outline-it{
    outline: 2px solid red
}
// Generic ClassNames
.underline{
    text-decoration-line: underline;
}

.col-2{
    display: flex;
    gap: 1rem;

    
    @include mobile{
        flex-direction: column;
        gap: 0rem;
    }
}

.responsiveSection-m{
    margin: 26px 110px;
    @include tablet {
        margin: 28px;
    }

    @include mobile{
        margin: .8rem;
    }
}

.greyText{
    color: $mami-black1;
}