@import "./partials/_variables";
@import "./partials/_functions";
@import "./partials/_mixins";

.main {
    @include flexSpaceBetween(column);
    align-items: center;
    padding: 6rem;
    color: $mami-green;

    h1{
        font-size: large;
        font-weight: weight(regular);
    }
}