@import "@/styles/partials/variables";
@import "@/styles/partials/functions";
@import "@/styles/partials/mixins";


.product {
    min-width: 11rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: $mami-background;

    .productImageContainer {
        @include nextImageContainer;
        width: 100%;
        aspect-ratio: 1/1;
    }

    .productDetails {
        padding: 1rem;

        h3 {
            font-weight: weight(medium);

            @include mobile {
                font-size: 1rem;
            }
        }

        h4 {
            @include mobile {
                font-size: .7rem;
            }
        }

        @include mobile {
            padding: 1rem;
        }
    }

    @include mobile {
        min-width: 8rem;
    }
}