@import '../styles/partials/variables';
@import '../styles/partials/mixins';

.delivery-banner{
  background-color: $secClr;
  background-image: url(../../assets/img/Star-1.png);
  background-repeat: no-repeat;
  background-size: 530px;
  background-position: 50% 1px;

  color: $white; 
  & > div{
    max-width: 90%;
    margin: 0 auto;

    @include flexAlign(row, space-between, center);
  }
  & h2 { 
    font-size: 26px;
  }
}

.delivery-container{
  @include flexAlign(initial, initial, center);
  gap: 10px;
  font-size: 18px;

  div {
    width: 45px;
  }
}
.shop-container{
  @include flexAlign(row, center, center);
  gap: 10px;
  padding: 3px 20px;

  border: 1px solid $white;
  border-radius: map-get($radius, "8");
  font-size: 24px;

  div {
    width: 18px;
  }
}
.shoe {
  width: 160px;
}
.bag {
  width: 150px;
}
