@import '../styles/partials/variables';
@import '../styles/partials/mixins';

.search-bar{
  background-color: $white;
  padding-block: .2rem;

  @include tablet{
    padding-top: 1rem;
    padding-bottom: 0.9rem;
  }
  & > div {
    max-width: 85%;
    margin-inline: auto;
    gap: map-get($spacings, '8'); 

    @include flexAlign(initial, space-between, center);  
    @include tablet {
      max-width: 93%;
      flex-wrap:wrap;
    }
  }
  & img {
    width: 100%;
  }
}
.filter-nav {
  @include flexAlign();
  gap: map-get($spacings, '18' );
  
  font-size: map-get($font-sizes, '18' );
  
  @include tablet {
    order: 2;
    gap: map-get($spacings, '10');
  }

  > * {
    gap: map-get($spacings, '10');
    padding: .2rem .35rem;
    border-radius: map-get($radius, '8');
  }
  > *:hover {
    background-color: $secondary-background;
  }
  > button{
    @include flexAlign(initial, initial, center);

    > div {
      width: 18px;
    }

    @include mobile {
     display: none;
    }
  }
  > a{
    @include flexAlign(initial, initial, center);
    > div{
      width: 13px;
      @include tablet{
        width: 15px;
      }
    }
    > span {
      @include mobile{
        display: none;
      }
    }
  }
  > a:nth-of-type(2) > div{
    width: 16px;
    @include tablet{
      width: 21px;
    }
  }
}

.logo{
  flex-basis: 14%;
  @include flexAlign(initial, initial, center);
  
  @include tablet {
    flex-basis: 50%;

    gap: map-get($spacings, '8');
  }
  > div{
    @include desktop{
      flex-basis: 100%;
    }
  }
  
  > div:first-of-type{
    @include tablet{
      flex-basis: 9%;
    }
    @include mobile{
      flex-basis: 15%;
    }
    @include desktop{
      display: none;
    }
  }
}

.sell{
  flex-basis: 55%;
  
  @include flexAlign(initial, space-between, center);

  @include tablet {
    flex-basis: 100%;
    order: 3;
  }

  > a{
    font-size: map-get($font-sizes, '14' );
    color: $pryClr;
    @include tablet {
      display: none;
    }
  }
}
.search-container{
  flex-basis: 82%;

  @include flexAlign(initial, initial, center);
  border-radius: map-get($radius, '6');
  border: 1.4px solid $mami-black1;
  background-color: $pryClr;

  @include tablet {
    flex-basis: 100%;
    
    background-color: transparent;
  }

  > input{
    flex-basis: 100%;
    border: 1px solid $mami-black1;
    padding: 0.55rem 14px;
    border-top-left-radius: map-get($radius, '6');
    border-bottom-left-radius: map-get($radius, '6');

    outline: none;
    font-size: map-get($font-sizes, '18');
    line-height: 1.3em;

    @include tablet{
      font-size: map-get($font-sizes, '14');
      border: none;
    }
  }
  > button{
    padding: 0.45rem 1.4rem;
    border-top-right-radius: map-get($radius, '6');
    border-bottom-right-radius: map-get($radius, '6');
    background-color: $pryClr;

    outline: none;    
    @include tablet {
      background-color: transparent;
    }

    > img:first-of-type {
      @include desktop {
        display: block;
      }
      @include tablet {
        display: none;
        
      }
    }
    > img:nth-of-type(2) {
      @include desktop {
        display: none;
      }
      @include tablet {
        display: block;
      }
    }
  }
}
